.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
    /*padding-top: 10px;*/
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}